html {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}


#page-title {
    text-align: center;
    height: 50%;
    padding: 20px;
}

#error-text {
    text-align: center;
    color: red;
    height: 100%;
    padding: 10px;
    font-weight: bold;
}

form {
    background-color: #fff; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

div {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-family: Calibri;
}

input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

input:hover {
    background-color: grey;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: solid white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: green;
}
