html, body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2rem;
  gap: 1.5rem;
  position: relative; /* Allows positioning child elements */
  width: 100%;
}

#logo {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.BackgroundImage {
  position: fixed;
  inset: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#loginpage-title {
  font-size: 40px;
  font-family: space;
  margin: 0;
  padding: 1rem 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: rgb(103, 134, 139);
}

#foot-note {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-style: oblique;
  margin: 1rem auto;
  text-align: center;
  color: white;
}

#status-text {
  text-align: center;
  color: red;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  gap: 1rem;
  width: 300px;
  margin: auto; /* Centers the form horizontally */
}

label {
  font-family: Calibri, sans-serif;
  font-weight: 900;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input:hover {
  background-color: darkgrey;
}

button, .Registerbutton {
  width: 100%;
  padding: 10px;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s ease;
}

button:hover {
  background-color: green;
}

.Registerbutton:hover {
  background-color: blue;
}

@font-face {
  font-family: "space";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/space.ttf") format("truetype");
}
